body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.container {
    display: flex;
    width: 80%;
    margin-top: 30px;
}

.left, .right {
    width: 50%;
    padding: 20px;
}

.left {
    border-right: 2px solid #ffffff;
    box-sizing: border-box;
}

label {
    font-size: 25px;
    font-weight: bold;
}

select, input[type="text"] {
    width: 40%;
    padding: 22px;
    margin-bottom: 25px;
    box-sizing: border-box;
    font-size: 22px;
}
#inputText {
    background-color: #1f1f1f;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 15px;
}

#outputText {
    background-color: #1f1f1f;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 15px;
}

button {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    font-size: 23px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #e50914;
    color: #ffffff;
    border: none;
}

button:hover {
    background-color: #b2070f;
}

button:active {
    background-color: #8a050c;
}

select {
    background: #000;
    color: #fff;
    border: 1px solid #ffffff;
    height: 35px;
    padding: 5px 10px;
    border-radius: 8px;
    background: linear-gradient(180deg, #000 0%, #333 100%);
}
